.fonctionnement{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    
    &__list{
        @include tablet{
        display: flex;
        text-align: center;
        font-size: 0.8rem;
        }
    }

    h2{
        margin: 35px 0 0 20px;
        @include tablet{
            text-align: center;
            margin-bottom: 30px;
            
        }
    }

} 

.number::before{
    font-family:"roboto";
    font-size: 13px;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:35%;
    left: -3%;
    color:white !important;
    background-color:$primary;
    width:15px;
    height:15px;
    padding: 10px;
    border-radius:50%;  
}
.one::before{    
    content:"1";
}   

.two::before{
    content:"2";
}
.three::before{
    content:"3";
}
 .choice{
    position: absolute;
    left: 30px;
    top: 37%;
    font-size: 1.2rem;
    color: $fonc-icon;
    @include tablet{        
        color: $primary;
    }       
}
.compose{
    @extend .choice;
}
.eat{
    @extend .choice;
}
.one::before, .two::before, .three::before{
    @include tablet{
        display: none;
    }
}