.top__bar{
    display: flex;
    position: relative;    
    
} 
.top_bar--shadow{
    box-shadow: 1px 1px 10px  rgb(160, 160, 160);
    @include tablet{
        box-shadow: none;
    }
}
 

.logo{
    
    margin: 20px auto;
    
    img{
        max-width: 50%;
        margin: auto;        
    }    
}
.return__btn{            
    position:absolute;
    left:9%;
    top: 35%;    
    height: 15px;
    width: 15px;             
    
     .fa-arrow-left{
        font-size: 1.3rem; 
        @include tablet{
            display: none;
        }
     }        
}

// loader & animation


.loader{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: $back-grey;
    height: 100vh;
    inset: 0;
    z-index: 1;     
    animation: delete 0.5s 4s forwards;        
}

.loader-color{
    display: grid;
    place-items: center;
    background: linear-gradient(to left , $terciary, $secondary,$primary);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	-webkit-animation: gradientshift 3s ease infinite;
	animation: gradientshift 2s ease infinite;
	height: 100vh;  
}


@keyframes delete {
    to{
        visibility: hidden;
    }
}

@keyframes gradientshift{
    0%{
        background-position: 0% 50%;        
    }
    50%{        
        background-position: 100% 50%;         
    }
    100%{
        background-position: 0% 50%;      
    }
}