 header{
    display: flex;
    box-shadow: 1px 1px 10px  rgb(160, 160, 160);
    @include tablet{
        box-shadow: none;
    }
 } 
 

.logo{
    
    margin: 20px auto;
    
    img{
        max-width: 50%;
        margin: auto;        
    }    
}