.top__bar{
    display: flex;
    position: relative;    
    
} 
.top_bar--shadow{
    box-shadow: 1px 1px 10px  rgb(160, 160, 160);
    @include tablet{
        box-shadow: none;
    }
}
 

.logo{
    
    margin: 20px auto;
    
    img{
        max-width: 50%;
        margin: auto;        
    }    
}
.return__btn{            
    position:absolute;
    left:9%;
    top: 35%;    
    height: 15px;
    width: 15px;             
    
     .fa-arrow-left{
        font-size: 1.3rem; 
        @include tablet{
            display: none;
        }
     }        
}