.full_content{
    background-color: $back-grey;
    border-radius: 25px 25px 0 0;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
    margin-top:-20px;         
 }

.head_icon{
   display: flex;
   justify-content: space-between;   
   position: relative;
}
.title{
    font-family: $font-secondary;
    font-size: 1.4rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
        @include tablet{
            text-align: center;
        }
}
.favorites-heart{
    display: block;
    top: 25px;
}    
.menu{       
        
    h3{
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: 20px;
        @include tablet{
            text-align: center;
            color: $terciary;
            font-weight: 400;
        }
    }    
        

    &__img{
        -o-object-fit: cover;     
        object-fit: cover;        
        max-width: 100%;
        width: 100%;        
        max-height: 450px;
        @include tablet{
            border-radius: 15px 15px 0 0;
        }        
    }    
        
    &__desserts{ 
        margin-bottom: 50px;
    } 

    &__turq__bar{
        display: block;
      width: 40px;
      height: 3px;
      margin-left: 20px;
      background-color: $terciary;
        @include tablet{
            display: none;
        }  
    }

}



.prix{    
    font-size: 1rem;
    align-self: flex-end;
    padding: 10px;
    margin-left: auto;
    
}
.commander{
    margin: auto;    
    @include tablet{
        max-width: 300px;
    }    
}
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;  
}

.plat{
    background-color: $font-color1;
    width: 90%;
    max-width: 430px;    
    display: flex;
    justify-content: space-between;
    border-radius: 15px; 
    line-height: 1.3rem;
    overflow: hidden;
    &:hover .check-box{
        margin-right: 0;
        

    }         

    &__principal{        
        font-size: 1.1rem;
                
    }

    &__condiment{ 
        font-weight: 300;       
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }  
     
}


.check-box{
width: 4rem;
background-color: $terciary;
margin-right: -3.5rem;
transition: margin-right 0.4s;
display: grid;
place-items: center;
}


.wrap_plat{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.fa-circle-check {    
    margin: auto;
    color: $font-color1;    
    transform: rotate(0deg);
    transition-duration: 0.8s;    
}
.note{
    max-height: 250px;
    @include tablet{
        max-height: 400px;
    }
}