
.menu{          
     background-color: $back-grey;
     padding-bottom: 50px;
    &__content{
        position: relative;
        z-index: 2;
        border-radius: 15px 15px 0 0;
        background-color: $back-grey;

        h2{
            font-family: $font-secondary;
            font-size: 1.4rem;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            @include tablet{
                // text-align: center;
            }
        }
        h3{
            font-size: 1.1rem;
            font-weight: 300;
            margin-left: 20px;
            @include tablet{
                text-align: center;
                color: $terciary;
                font-weight: 400;
            }
        }
    }    

    &__img{     
        object-fit: cover;
        height: 250px;
        width: 100%;
        }    
        
    &__desserts{ 
        margin-bottom: 50px;
    }    
    &__turq__bar{
        display: block;
      width: 40px;
      height: 3px;
      margin-left: 20px;
      background-color: $terciary;
      @include tablet{
        display: none;
    }  
    }
}

.condiment__prix{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.prix{
    font-size: 1rem;
}
.commander{
    margin: auto;
    @include tablet{
        max-width: 300px;
    }    
}
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  
}

.fav-heart::after{
    font: var(--fa-font-regular);
    content: "\f004";
}
 .fav-heart--filled::after {     
    font: var(--fa-font-solid);
     content: "\f004";
     z-index: 2;
     opacity: 0;
     background: linear-gradient(to left top, #9356dc, #ff79da);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
     &:hover{
        opacity: 1;  
        transition: 0.5s;
    } 

   }



.title_container{
    display: flex;    
    justify-content: space-between;
}  



