.restaurants{
    background-color: $back-grey;
    @include tablet{
        @include gradientlg;
    }
    
    h2{
        margin-left:20px;
        margin-bottom: 20px;
        padding-top: 40px;

        @include tablet{
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 60px;
        }

    }
}
.cards{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;

    @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;      
    }
    
    .boulette{
        object-position: 60% 50%;        
    }
}