.headbtn{
    display: block;
    width: 58%;
    margin: 20px 75px 50px 75px;
    font-weight: bold;
    color: #ffff;        
    background: linear-gradient(to left top, $primary, $secondary);
    padding:15px 10px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 6px  $heading-grey; 
}
.fonc__btn{
    display: flex;
    justify-content: center;
    color: inherit;        
    position: relative;
    background-color:$back-grey;
    border-radius: 25px;    
    font-size: 1.1rem;
    font-weight: bold;
    padding: 25px 50px; 
    margin: 20px auto;
    box-shadow: 2px 0 11px $light-grey;
    max-width: 320px;
    width: 85%;        
    &:hover{
    background-color: lighten($color: $primary, $amount: 35%) ; 
    box-shadow: 2px 0 11px 3px $light-grey;
    } 
    &:hover .choice, .compose .eat{
        color: $primary;
    }
    
    @include tablet{                
        max-width: 50%;
        width: 30%;
        border-radius: 8px;
        box-shadow: 5px;
        margin: auto;
   }           
                
}


