
.card{  
    display: flex;
    flex-direction: column;  
    background-color: white;    
    color: black;
    border-radius: 15px;
    box-shadow: 0px 9px 15px -2px $light-grey;
    text-decoration: none;
    width: 90%; 
    max-width: 450px;           
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
    

    &__img img{
        object-fit: cover;
        width:100%;
        height:160px;
        object-position: 0 -70px;       
    }
    &__titre{
        font-weight: bold;
        padding: 10px 0 0 10px;
    }
    &__location{
        font-weight: 300; 
        padding: 0 0 10px 10px ; 
    }
}
    
.card span{    
    background-color: $terciary;
    color: #0f9070;
    font-size: 0.9rem;
    font-weight: bold;    
    position: absolute;
    padding: 5px 10px;
    right: 5%;
    top: 5%;
}
.fa-heart{    
    position: absolute;
    right:10%;
    bottom: 10%;
    font-size: 1.5rem;
    color: $dark-grey;
    transition: 1s;
    z-index: 2;

    &:focus{
       color: pink;
       
    }
    
    
}

