

@mixin headbtn {
        display: block;
        width: 58%;
        margin: 20px 75px 50px 75px;
        font-weight: bold;
        color: #ffff;        
        background: linear-gradient(to left top, $primary, $secondary);
        padding:15px 10px;
        border-radius: 30px;
        text-align: center;
        box-shadow: 2px 2px 6px  $heading-grey;
}

