$primary: #9356DC;
$secondary: #FF79DA;
$terciary: #99E2D0;
$heading-grey: #949191;
$light-grey: #c0bcbc;
$dark-grey: #4b4b4b;
$fonc-icon: #7c7c7c;
$back-grey:#f6f6f6;
$dark:#353535;

$font-primary:'Roboto', sans-serif;
$font-secondary:'Shrikhand', cursive;
$font-color1: #fff;
$font-color2: black;


$breakpoints: (
    tablet: 768px,
    pc: 992px,
);